[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
coverage = "==7.*"
bandit = "*"
flake8 = "*"

[packages]
django = "==3.*"
djangorestframework = "*"
django-rest-auth = "*"
requests = "*"
freezegun = "*"
pillow = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
setuptools = ">=65.5.1"
google-auth-oauthlib = ">=1.1.0"
google = ">=3.0.0"
google-api-python-client = ">=2.105.0"

[requires]
python_version = "3.11"
