commands:
  00_create_dir:
    command: mkdir -p /var/log/app-logs
  01_create_file:
    command: touch /var/log/app-logs/django.log
  02_change_permissions:
    command: chmod g+s /var/log/app-logs
  03_change_owner:
    command: chown wsgi:wsgi /var/log/app-logs
  04_change_default_owner:
    command: setfacl -d -m g::rw /var/log/app-logs
