option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "timecard.settings.base"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "timecard.wsgi:application"
#commands:
#  01_pip_upgrade:
#    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
#    ignoreErrors: false
#container_commands:
#  01syncdb:
#    command: "python manage.py syncdb --noinput"
#    leader_only: true
#  02migrate:
#    command: "django-admin.py migrate"
#    leader_only: true
#  03collectstatic:
#    command: "python manage.py collectstatic --noinput"