option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "timecard.settings.base"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "timecard.wsgi:application"
#commands:
#  01_pip_upgrade:
#    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
#    ignoreErrors: false
container_commands:
  01syncdb:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py syncdb"
    leader_only: true
  02makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations"
    leader_only: true
  03migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  04collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic"
    leader_only: true