option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: timecard/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: timecard.settings.base
commands:
  01upgrade:
    command: |
      source /opt/python/run/venv/bin/activate
      pipenv run pip install --upgrade pip
container_commands:
  01syncdb:
    command: "pipenv run python manage.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "pipenv run python manage.py migrate"
    leader_only: true
  03collectstatic:
    command: "pipenv run python manage.py collectstatic --noinput"